<app-product-list [mode]="productListOptionsEnum.LoggedOut" [products]="productsResponse?.data || []"></app-product-list>
<!-- TODO add ngif or something for the loading of the products and visualize error -->
<!-- TODO add an ng if that will be if the user is logged in or not and handle that to the product list-->
<p-paginator
    class="fixed-bottom"
    [rows]="limit"
    [totalRecords]="totalRecords"
    (onPageChange)="loadProducts($event)"
    [first]="(page -1 )* limit"
    styleClass="mt-4"
/>