<div class="cart-products-wrapper">
    <!-- Loading overlay -->
    <ng-container *ngIf="(loading$ | async) === true; else cartContent">
        <div class="loading-overlay">
            <p-progressSpinner strokeWidth="4" styleClass="custom-spinner"> </p-progressSpinner>
        </div>
    </ng-container>

    <!-- Actual cart content -->
    <ng-template #cartContent>
        <ng-container *ngIf="items$ | async as items">
            <div *ngIf="items.length === 0" class="empty-cart-message">
                <h3>Your cart is empty</h3>
                <p>Looks like you haven’t added anything to your cart yet.</p>
            </div>

            <app-product-list
                #productList
                *ngIf="items.length > 0"
                [mode]="productListOptionsEnum.CartView"
                [fetchFunction]="fetchProducts"
                [totalRecords]="items.length"
                (removeClicked)="onRemoveClicked($event)"
            />
        </ng-container>
    </ng-template>
</div>

<div class="cart-summary">
    <p class="total-price">Total price: ₪{{ (total$ | async) ?? 0 }}</p>
</div>
