<nav class="navbar">
    <div class="logo">
        <app-website-logo></app-website-logo>
    </div>

    @if (vm$ | async; as vm) {
        @if (vm.showSearch) {
            <div class="search">
                <app-search-products></app-search-products>
            </div>
        }

        <div class="actions">
            @if (vm.showCartLink) {
                <app-cart-link></app-cart-link>
            }
            @if (vm.showSignInLink) {
                <app-sign-in-link></app-sign-in-link>
            }
            @if (vm.showSignUpLink) {
                <app-sign-up-link></app-sign-up-link>
            }
            @if (vm.showStatsLink) {
                <app-stats-link></app-stats-link>
            }
            @if (vm.showOrderLink) {
                <app-order-link></app-order-link>
            }
            @if (vm.showLogoutLink) {
                <app-log-out-link></app-log-out-link>
            }
        </div>
    }
</nav>
