<div [appFireworksOn]="celebrate"></div>

<section class="global-filter-bar bottom-fixed">
    <app-date-range [mode]="DateRangeOptions.Global"></app-date-range>
</section>

<app-chart-card-wrapper
    [title]="'Top Products by Quantity'"
    [source]="{ type: 'special', load: loadTopQty }"
    [description]="
        'For the chosen period, calculate the top-selling products by quantity and their contribution by month.'
    "
>
</app-chart-card-wrapper>

<app-chart-card-wrapper
    [title]="'Top Products by Profit'"
    [source]="{ type: 'special', load: loadTopProfit }"
    [description]="'For the chosen period, calculate the most profitable products and their contribution by month.'"
>
</app-chart-card-wrapper>

<app-sales-graphs-list></app-sales-graphs-list>
