<section class="global-filter-bar bottom-fixed">
    <app-date-range [mode]="DateRangeOptions.Global"></app-date-range>
    <app-candle-interval-filter [mode]="CandleIntervalOptions.Global"></app-candle-interval-filter>
</section>

<p-divider></p-divider>
<p-card>
    <sales-app-kpi-list></sales-app-kpi-list>
</p-card>
<p-divider></p-divider>

<app-graph-wrapper
   
    [title]="'Top Products by Quantity'"
    [source]="{ type: 'special', load: loadTopQty }"
    [description]="
        'For the chosen period, calculate the top-selling products by quantity and their contribution by month.'
    "
    [chartType]="'bar'"
>
</app-graph-wrapper>

<app-graph-wrapper
    [title]="'Top Products by Profit'"
    [source]="{ type: 'special', load: loadTopProfit }"
    [description]="'For the chosen period, calculate the most profitable products and their contribution by month.'"
    [chartType]="'radar'"
>
</app-graph-wrapper>
