<div *ngIf="mode === 'customerView' || mode === 'publicView'" class="view-card">
<p-card header="{{ product.name }}" subheader="₪{{ product.price }}">
  <ng-template pTemplate="header">
    <img
      [src]="product.imageUrl"
      alt="{{ product.name }}"
      class="product-image"
    />
  </ng-template>

  <p class="product-description">{{ product.description }}</p>
  <p class="product-quantity">Quantity left: {{ product.quantity }}</p>
  <div *ngIf="mode === 'customerView'">
    <app-add-to-cart-button [maxQuantity]="product.quantity"  [product_id]="product.productID"></app-add-to-cart-button>
  </div>
</p-card>
</div> 

<div *ngIf="mode === 'cartView'" class="cart-card">
  <div class="cart-row">
    <img
      [src]="product.imageUrl"
      alt="{{ product.name }}"
      class="product-image"
    />

    <div class="cart-name-desc">
      <div class="product-name">{{ product.name }}</div>
      <div class="product-description">{{ product.description }}</div>
    </div>

    <div class="cart-price">₪{{ product.price }}</div>
    <div class="cart-quantity">Quantity: {{ product.quantity }}</div>

    <p-button label="Remove" class="cart-remove" (click) = "removeItemFromCart()"></p-button>
  </div>
</div>
